<%- include('partials/header') %>
    <div class="row">
        <div class="col-12" style="text-align: center;">

            <div class="image-container">
                <map id="latmap" name="latmap"
                    style="position: absolute;left:0;width: -webkit-fill-available;height: -webkit-fill-available;pointer-events: none;z-index:10;">
                    <% positions.forEach(position=> { %>
                        <% if(position.position_name=== imgId ) { %>

                            <div>
                                <area id="area-pos<%= position.id %>" target=""
                                    alt="<%= position.position_name %>-<%= position.id %>"
                                    title="<%= position.position_name %>-<%= position.id %>"
                                    data-parent-id="<%= position.position_parent_id %>" data-id="<%= position.id %>"
                                    data-position_name="<%= position.position_name %>"
                                    data-section="<%= position.section %>" coords="<%= position.coords %>" shape="poly"
                                    class="overlay section<%= position.id %>" data-color="" />
                                <% const sponsor=sponsors.find(s=> s.id === position.sponsor_id);
                                    const sponsorName = sponsor ? sponsor.name : '';
                                    %>
                                    <div class="texto-sponsor" data-section="<%= position.id %>"
                                        style="left: <%= position.text_left %>px; top: <%= position.text_top %>px; transform: <%= position.transform %>;">
                                        <%= sponsorName %>
                                    </div>
                            </div>
                            <% } %>
                                <% }); %>

                </map>
                <img id="mapa-moto-lat" src="/img/suit.png" alt="Moto Lateral" usemap="#latmap" width="1348"
                    height="918" data-img="<%= imgId %>">

            </div>
        </div>
    </div>




    <div class="legend">
        <%- include('../components/floating-menuv2') %>
    </div>

    <!-- Modal para seleccionar patrocinador -->
    <div class="modal fade" id="sponsorModal" tabindex="-1" aria-labelledby="sponsorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sponsorModalLabel">Seleccionar Patrocinador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="sponsorSelect" class="form-select">
                        <% sponsors.forEach(sponsor=> { %>
                            <option value="<%= sponsor.id %>">
                                <%= sponsor.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="removeSponsor">Eliminar</button>
                    <button type="button" class="btn btn-primary" id="saveSponsor">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>